
<li id="comment-<%=comment.id%>">           
    <div class="author-details">
        <i class="fa fa-comments fa-2x" aria-hidden="true"></i>
    <small>
        <%=comment.user.name%>
    </small>
    <!-- delete button for posts -->
<% if((locals.user) && (locals.user.id == comment.user.id)){%> 
<small>
    <a class="delete-comment-button" href="comments/destroy/<%=comment.id%>">  
    <i class="fas fa-window-close fa-2x"></i>
</a>
</small>
<% }%>
    </div>
    <div class="comment-content">
    <p>
        <%= comment.content %>
    </p>
    </div>
   
</li>