<header id="navbar">
    <ul>
        <li>
            <a href="/">Social</a>
        </li>
    </ul>
       <ul>
            <li><a href="/users/register">Register</a></li>
            <li> <a href="/users/login">Login</a>
            </li>
       </ul>
</header>