
<h2>Hello <% if(locals.user){ %> 
    <%=locals.user.name %> !
    <% }else{%>
        Visitor !
    <%}%>
</h2>
<section id="feed-posts">
<div id="form-container">
    <% if(locals.user){ %> 
        <form method="POST" action='/posts/create' id="new-post-form">
            <textarea name="content"  cols="50" rows="5" placeholder="What's on your mind, <%= user.name%> "></textarea>
        <input type="submit" value="Post">
        </form>
        <%}else {%> 
           <h2> Sign in to Create posts !!!</h2>
            <%}%>
    </div>
    </section>
    <h2>Posts Timeline</h2>
    <section id="posts-list-container">  
    
        <ul >
            <% for(posts of posts){%> 
                
                <%- include('_posts') %>

            <% } %>
        </ul>
        
</section>
