
<h2>Homepage</h2>
<section id="feed-posts">
<div id="form-container">
    <% if(locals.user){ %> 
        <form method="POST" action='/posts/create' id="new-post-form">
            <textarea name="content"  cols="50" rows="5" placeholder="What's on your mind, <%= user.name%> "></textarea>
        <input type="submit" value="Post">
        </form>
        <%}else {%> 
           <h2> Sign in to Create posts !!!</h2>
            <%}%>
    </div>
    </section>
    
    <section id="posts-list-container">  
        <h3>Posts Timeline</h3>
        <ul>
            <% for(posts of posts){%> 
                <li>
                    <div id="author-details">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                    <small>
                        <%=posts.user.name%>
                    </small>
                    </div>
                    <div class="post-content"><p><%= posts.content%></p></div>
              
                </li>
            <% } %>
        </ul>
        
</section>
