
<h1>Login User</h1>
<div id="form-container">
    <form method = "POST" action = "/users/create-session">
        <input type="email" name= "email" placeholder ="Enter Email">
        <input type="password" name= "password"  placeholder ="Enter Password">
        <input type="submit" value = "Sign-in">
        </form>
</div>