#form-container{
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: column;
    }
     input{
        padding: 0.8rem;
        font-size: 1.2rem;
    }
    ::placeholder{
        padding-top : 2rem;
        text-align: center;
        font-size: 0.9rem;
        color: #45a29e;
        font-family:cursive;
    }
    input[type = "submit"]{
        background-color: #45a29e;
        outline: none;
        border: none;
        color: white;
        &:hover{
            background-color: #3dcac3;
        }
    }


}

