body {
  margin: 0;
  font-size: 18px;
  background-color: #F0F2F5;
  position: relative;
  min-height: 100vh;
  font-family: sans-serif; }
  body h1, body h2, body h3, body h4 {
    color: #45a29e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; }
  body #layout-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem; }

#posts-list-container #author-details {
  display: flex;
  align-items: center; }
  #posts-list-container #author-details i {
    margin-right: 1.2rem; }

#posts-list-container li {
  background-color: white;
  list-style-type: none;
  padding: 2rem;
  border: 2px solid #fafafa;
  border-radius: 5%;
  margin: 2rem 0;
  max-width: 50vw; }

#posts-list-container p {
  font-size: 1.1rem; }
